<form [formGroup]="newAppForm">
  <legend>Create new application:</legend>
  <p>
    <label for="newapp">ID:</label>
    <input type="text" formControlName="newAppId">
  </p>
  <p>
    <button [attr.disabled]="!newAppForm.valid ? '' : null" (click)="newAppForm.valid && addNewApp()">Create</button>
  </p>
</form>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let application of applications">
      <td>
        <a [routerLink]="[application.id, 'feature-toggles']">{{application.id}}</a>
      </td>
      <td>
        {{application.isDeleted ? 'Archived' : 'Active'}}
      </td>
      <td>
        <button *ngIf="!application.isDeleted" (click)="remove(application)">Archive</button>
      </td>
    </tr>
  </tbody>
</table>
