<div class="row mt-1">
  <div class="col">
    <h3>
      List
    </h3>
  </div>
</div>

<div class="row mt-1">
  <div class="col text-right">
    <a [routerLink]="['create']" [queryParams]="null" class="btn btn-primary" role="button">Create</a>
  </div>
</div>

<div class="row mt-1">
  <div class="col">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Enabled</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let model of toggleModels">
          <td>{{model.toggle.name}}</td>
          <td>{{model.toggle.description}}</td>
          <td>
            <button type="button" class="btn" aria-pressed="false" autocomplete="off"
              [ngClass]="{'btn-primary': model.toggle.enabled, 'btn-secondary' : !model.toggle.enabled}" (click)="doToggle(model)"
              [disabled]="model.changing">
              {{model.toggle.enabled ? 'On' : 'Off'}}
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-danger" (click)="deleteToggle(model)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>